<div id="register" class="register">
    <div class="close" id="close" ng-click="closeThisDialog()">
        <a href="javascript:void(0);"><i class="fa fa-close"></i></a>
    </div>
    <div class="poptxt-tp">
        <figure>
            <img alt="Login to the DFA" src="img/logo-login.png">
        </figure>
        <div class="lg-tp-text">
            <h3>Sign in To Start Database Administration </h3>
            <h5>The best platform for Database Administration</h5>
        </div>
    </div>
    <div class="form-part-main">
        <div class="right-pop">
            <div class="scl-btn register-psac">
                <a class="registe-btn" href="javascript:void(0);">Forgot Password</a>
            </div>
        </div>
        <div class="log-left">
            <form method="post" name="loginForm" id="UserLoginForm" ng-submit="loginForm.$valid && login()" novalidate>
                <div class="form-group">
                    <div class="input email">
                        <label for="UserEmail">Email</label>
                        <input type="email" name="email" id="UserEmail" placeholder="Enter Your Email" ng-model="credentials.email" required />
                    </div>
                    <div class="loginerror">
                        <span ng-show="loginForm.email.$error.required">*Email is required.</span>
                        <span ng-show="loginForm.email.$error.email">*Email Address is invalid.</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input password">
                        <label for="UserPwd">Password</label>
                        <input type="password" id="UserPwd" name="password" placeholder="Enter Your Password" ng-model="credentials.password" required>
                    </div>
                    <div class="loginerror">
                        <span ng-show="loginForm.password.$error.required">*Password is required.</span>
                    </div>
                </div>
                <div class="form-action">
                    <div class="form-remember">
                        <label><input type="checkbox" data-bind="checked: RememberMe">Remember Me</label>
                    </div>
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <div class="clear"></div>
</div>