
                <div class="import-export">
                    <div class="title mb10">
                        <h2>Template >> Import/Export Using Excel</h2>
                    </div>
                    <div class="clear"></div>
                    <div class="import mt20 mb20">
                        <div class="left">
                            <h5>Import - IUS and Indicator Classifications</h5>
                            <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.
                               Sed non mauris vitae erat consequat auctor eu in elit.
                            </p>
                            <div class="upload">
                                <input type="text" placeholder="upload file">
                                <a class="btn btn-normal btn-sm"><i class="fa fa-upload"></i> Upload </a>
                            </div>
                        </div>
                        <div class="right">
                            <h5>Import - IUS and Indicator Classifications</h5>
                            <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin,
                                 lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet
                                nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.
                               Sed non mauris vitae erat consequat auctor eu in elit.
                            </p>
                            <div class="upload">
                                <input type="text" placeholder="upload file">
                                <a class="btn btn-normal btn-sm"><i class="fa fa-upload"></i> Upload </a>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="separator mt20 mb20"></div>
                    <div class="clear"></div>
                    <div class="export mt20 mb20">
                        <div class="left">
                            <h5>Import - IUS and Indicator Classifications</h5>
                            <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.
                               Sed non mauris vitae erat consequat auctor eu in elit.
                            </p>
                            <div class="upload">
                                <input type="text" placeholder="upload file">
                                <a class="btn btn-normal btn-sm"><i class="fa fa-upload"></i> Upload </a>
                            </div>
                        </div>
                        <div class="right">
                            <h5>Import - IUS and Indicator Classifications</h5>
                            <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.
                               Sed non mauris vitae erat consequat auctor eu in elit.
                            </p>
                            <div class="upload">
                                <input type="text" placeholder="upload file">
                                <a class="btn btn-normal btn-sm"><i class="fa fa-upload"></i> Upload </a>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
