
<div class="manage-user">
    <div class="title mb20">
        <h2>User Management</h2>
    </div>
    <div class="action-search mb10">
        <div class="action">
            <ul>
                <li><a ui-sref="DataAdmin.databaseManagement.addNewUser"><i class="fa fa-plus-circle"></i> New User</a></li>
                <li><a ng-click="deleteSelectedUsers()"><i class="fa fa-trash-o"></i> Delete Selected User</a></li>
            </ul>
        </div>
        <div class="search">
            <div class="search-type">
                <select ng-model="searchOption">
                    <option value="name" selected>Name</option>
                    <option value="roles">Role</option>
                    <option value="email">Email</option>
                </select>
            </div>
            <div class="search-box">
                <input type="text" placeholder="Search User" ng-model="search[searchOption]">
            </div>
        </div>
        <div class="clear"></div>
    </div>

    <div class="user-list">
        <ul class="head">
            <li><input type="checkbox" ng-click="selectAllUsers()" ng-model="allUsersSelected"></li>
            <li>Name</li>
            <li>Email</li>
            <li>Role</li>
            <li>Access</li>
            <li>Last Logged In</li>
            <li>Action</li>
        </ul>
        <ul class="list">
            <li ng-repeat="user in usersList | filter: search">
                <ul>
                    <li><input type="checkbox" ng-click="userSelected(user.id)" ng-checked="selectedUsers.indexOf(user.id) >= 0"></li>
                    <li>{{user.name}}</li>
                    <li>{{user.email}}</li>
                    <li>
                        <ul>
                            <li ng-repeat="role in user.roles">
                            {{role}}
                            </li>
                        </ul>
                    </li>
                    <li>Area: All; Indicator:All</li>
                    <li>{{user.lastLoggedIn}}</li>
                    <li><a>Modify</a> | <a>Delete</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="clear"></div>