<div class="title mb20">
    <h2>Template <i class="fa fa-angle-double-right"></i> IUS</h2>
</div>
<div class="ius">
    <div class="action-search mb10">
        <div class="action">
            <ul>
                <li><a href="#adduser"><i class="fa fa-plus-circle"></i> Add New IUS Combination</a>|</li>
                <li><a>Delete</a>|</li>
                <li><a>Modify</a>|</li>
                <li><a>Validations</a></li>
            </ul>
        </div>
        <div class="search">
            <div class="search-box">
                <input type="text" placeholder="Search Indicator" ng-model="searchIndicator">
                <div class="serch-icn"><i class="fa fa-search"></i></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="ius-list">
        <ul>
            <li ng-repeat="ius in iusList | filter: {iName: searchIndicator}">
                <ul>
                    <li ng-class="{open: ius.selected}">
                        <a ng-click="showSubgroup(ius)"><i class="fa fa-play"></i></a>
                        <a class="selected">{{ius.iName}}, Deaths per 1000 live births <span><i class="fa fa-check"></i> </span></a>
                    </li>
                </ul>
                <div class="ius-sub-list" ng-if="ius.selected">
                    <ul>
                        <li class="selected"><a><i class="fa fa-check"></i>Total</a></li>
                        <li><a><i class="fa fa-check"></i>Male</a></li>
                        <li><a><i class="fa fa-check"></i>Female</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <div class="message">
        <p>Deleting an IUS combination will only remove the relationship between an indicator and its Unit and Subgroups.</p>
    </div>
</div>