<div class="scroll">
    <section class="container">
        <section class="db-list">
            <h2>My Databases</h2>
            <div class="btn-box" ng-if="isSuperAdmin()">
                <a ui-sref="DataAdmin.newDatabaseConnection" class="btn btn-green btn-lg"><i class="fa fa-plus-circle"></i> Add New Database </a>
            </div>
            <div class="list">
                <ul>
                    <li ng-repeat="database in $root.databaseList">
                        <div class="db-name">
                            <a class="dbListMenu" style="cursor: pointer" ng-click="changeDatabase(database.id)"><i class="fa fa-database"></i>{{database.dbName}}</a>
                        </div>
                        <div class="db-option">
                            <ul>
                                <li><a href="javascript:void(0);" ng-click="deleteDatabaseConnection(database)">Delete </a></li>
                            </ul>
                        </div>
                        <div class="clear"></div>
                    </li>
                </ul>
            </div>
            <div class="clear"></div>
        </section>
    </section>
</div>