<div class="scroll">
    <!--Section starts Here -->
    <section class="container">
        <!--workspace start here -->
        <section class="connection">
            <div class="title">
                <h2>My Databases - Create new Database Connection</h2>
            </div>
            <form name="addNewConnection" method="post" ng-submit="addNewConnection.$valid && saveConnection(connectionDetails)" novalidate>
                <div class="form-elem mt20">
                    <div class="form-group">
                        <label>Connection Name</label>
                        <input name="connectionName" type="text" ng-model="connectionDetails.connectionName" required>
                        <div class="errorbox">
                            <span ng-show="addNewConnection.connectionName.$error.required" class="error">*Connection Name is required.</span>
                        </div>
                    </div>
                    <div class="form-group mb20">
                        <label>Database Type</label>
                        <select name="databaseType" ng-model="connectionDetails.databaseType" ng-options="dbtype.id as dbtype.name for dbtype in dbTypeDetails">
                            <option value="">-- Select --</option>
                        </select>
                        <div class="errorbox">
                            <span ng-show="addNewConnection.databaseType.$error.required" class="error">*Connection Name is required.</span>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="separator mt20 mb10"></div>
                    <div class="form-group">
                        <label>Host Address</label>
                        <input name="hostAddress" type="text" ng-model="connectioDetails.hostAddress" required>
                        <div class="errorbox">
                            <span ng-show="addNewConnection.hostAddress.$error.required" class="error">*Host Address is required.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Database Name</label>
                        <input name="databaseName" type="text" ng-model="connectioDetails.databaseName" required>
                        <div class="errorbox">
                            <span ng-show="addNewConnection.databaseName.$error.required" class="error">*Database Name is required.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>User Name</label>
                        <input name="userName" type="text" ng-model="connectioDetails.userName" required>
                        <div class="errorbox">
                            <span ng-show="addNewConnection.userName.$error.required" class="error">*User Name is required.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input name="password" type="password" ng-model="connectioDetails.password" required>
                        <div class="errorbox">
                            <span ng-show="addNewConnection.password.$error.required" class="error">*Password is required.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Port</label>
                        <input name="port" type="text" ng-model="connectioDetails.port" required>
                        <div class="errorbox">
                            <span ng-show="addNewConnection.port.$error.required" class="error">*Port Number is required.</span>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="separator mt20"></div>
                    <div class="clear"></div>
                    <div class="form-action mt20">
                        <button class="save" type="submit"><i class="fa fa-save"></i> Save</button>
                        <button class="cancel" ui-sref="DataAdmin.database">Cancel</button>
                    </div>
                </div>
            </form>

            <div class="clear"></div>
        </section>
        <!--workspace ends here -->
    </section>
    <!--Section ends Here -->
</div>
