<div class="container">
    <div class="logo">
        <a ui-sref="DataAdmin"><img src="img/logo.png" alt="Database Administrative Tool"></a>
    </div>
    <div class="header-menu">
        <ul>
            <li ng-if="!currentUser" ng-click="openLoginPopUp()"><a rel="register" class="popup" href="javascript:void(0);"> <i class="fa fa-lock"></i>  Log in</a></li>
            <li ng-if="currentUser"><span><i class="fa fa-user"></i> Welcome {{currentUser.name}}</span></li>
            <li ng-if="currentUser">
                <a ng-if="$root.currentDatabase.id != ''" ui-sref="DataAdmin.databaseManagement({dbId: $root.currentDatabase.id})"><i class="fa  fa-database"></i>{{currentDatabase.name}}</span></a>
                <a ng-if="$root.currentDatabase.id == ''" ui-sref="DataAdmin.database"><i class="fa fa-database"></i> My Databases</a>
                <ul>
                    <li ng-repeat="database in $root.databaseList">
                        <a ng-click="changeDatabase(database.id)">
                            <i class="fa fa-database"></i> <span class="db-lst">{{database.dbName}}</span>
                        </a>
                    </li>
                    <li>
                        <a ui-sref="DataAdmin.database"><i class="fa  fa-gear"></i> <span class="db-lst">All Databases</span></a>
                    </li>
                </ul>
            </li>
            <li ng-if="currentUser" ng-click="logout()"><a href="#"><i class="fa fa-power-off"></i> Logout</a></li>
        </ul>
    </div>
</div>