<div class="scroll">
    <!--video part starts Here-->
    <section class="content">
        <div class="container">
            <div class="video-info">
                <h1>DFA - Database Administrative Tool</h1>
                <p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor.nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor.</p>
                <a ng-click="startApp()" class="btn btn-green btn-lg"><i class="fa fa-gear"></i> Start Database Administration </a>
            </div>
        </div>
        <div class="video">
            <video width="100%" height="auto" autoplay id="bgVideo" poster="img/vid-home-fallback.png" loop>
                <source type="video/mp4" src="img/AISPL_new_video.mp4" />
                <source type="video/webm" src="img/AISPL_new_video.webm" />
                <img width="100%" height="auto" alt="DataAdmin" src="img/vid-home-fallback.png" />
            </video>
        </div>
    </section>
    <!--video part end Here-->
    <!--Section content starts Here-->
    <section class="sections-home">
        <div class="container">
            <div class="desc">
                <h2>DevInfo Database Template</h2>
                <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.</p>
            </div>
            <div class="desc">
                <h2>Data Values and Validations</h2>
                <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.</p>
            </div>
            <div class="desc third">
                <h2>User Management</h2>
                <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.</p>
            </div>
        </div>
    </section>
    <section class="sections-home btnbox">
        <a ng-click="startApp()" class="btn btn-green btn-lg"><i class="fa fa-gear"></i> Start Database Administration </a>
    </section>
    <!--Section content end Here-->
</div>