<div class="scroll">
    <div class="database">
        <div class="db-title">{{databaseDetails.name}}</div>
        <div class="lft">
            <div class="lft-menu">
                <ul>
                    <li><a><i class="fa fa-th-large"></i><span> Template</span><span class="fa arrow"></span></a>
                        <ul class="sub-menu">
                            <li><a><i class="fa fa-folder"></i><span> Indicators</span><span class="fa arrow"></span></a></li>
                            <li><a><i class="fa fa-folder"></i><span> Units</span><span class="fa arrow"></span></a></li>
                            <li><a><i class="fa fa-folder"></i><span> Subgroups</span><span class="fa arrow"></span></a></li>
                            <li><a ui-sref=".iusManagement"><i class="fa fa-folder"></i><span> IUS</span><span class="fa arrow"></span></a></li>
                            <li><a><i class="fa fa-folder"></i><span> Indicator Classifications</span><span class="fa arrow"></span></a></li>
                            <li><a><i class="fa fa-folder"></i><span> Geographic Areas</span><span class="fa arrow"></span></a></li>
                            <li><a ui-sref=".importExportManagement"><i class="fa fa-folder"></i><span> Import/Export Using Excel</span><span class="fa arrow"></span></a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-th-large"></i><span> Data Entry</span><span class="fa arrow"></span></a>
                        <ul class="sub-menu">
                            <li><a><i class="fa fa-folder"></i><span> Enter Data</span><span class="fa arrow"></span></a></li>
                            <li><a><i class="fa fa-folder"></i><span> Import/Export Using Excel</span><span class="fa arrow"></span></a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-th-large"></i><span> Publish</span><span class="fa arrow"></span></a>
                        <ul class="sub-menu">
                            <li><a><i class="fa fa-folder"></i><span> Publish Data</span><span class="fa arrow"></span></a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-th-large"></i><span> Database</span><span class="fa arrow"></span></a>
                        <ul class="sub-menu">
                            <li><a href="#"><i class="fa fa-folder"></i><span> Connections Details</span><span class="fa arrow"></span></a></li>
                            <li><a ui-sref=".userManagement"><i class="fa fa-folder"></i><span> User Management</span><span class="fa arrow"></span></a></li>
                            <li><a href="#"><i class="fa fa-folder"></i><span> Transaction Logs</span><span class="fa arrow"></span></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="rgt" ui-view="ManagementView">
            <div class="db-home">
                <p>Please Select an option from the left panel to perform the Database administration
                </p>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>