<div class="scroll">
    <div class="database">
        <div class="db-title">
            <span class="lft-menu-icon" ng-click="changeClass()"><i class="fa fa-bars"></i></span>
            <span class="name">{{currentDatabase.name}}</span>
        </div>
        <div class="lft" ng-class="lftmenu">
            <div class="lft-menu">
                <ul>
                    <li ng-if="showTemplate">
                        <a>
                            <i class="fa fa fa-file"></i>
                            <span class="menu-title">Template</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            <li><a> Indicators</a></li>
                            <li><a> Units</a></li>
                            <li><a> Subgroups</a></li>
                            <li ui-sref-active="selected"><a ui-sref=".iusManagement"> IUS</span></a></li>
                            <li><a> Indicator Classifications</a></li>
                            <li><a> Geographic Areas</a></li>
                            <li ui-sref-active="selected"><a ui-sref=".importExportManagement"> Import/Export Using Excel</a></li>
                        </ul>
                    </li>
                    <li ng-show="showData">
                        <a>
                            <i class="fa fa fa-keyboard-o"></i>
                            <span class="menu-title">Data Entry</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            <li><a> Enter Data</a></li>
                            <li><a> Import/Export Using Excel</a></li>
                        </ul>
                    </li>
                    <li ng-show="showDatabase">
                        <a>
                            <i class="fa fa-cloud-upload"></i>
                            <span class="menu-title">Publish</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            <li><a>Publish Data</a></li>
                        </ul>
                    </li>
                    <li ng-show="showDatabase">
                        <a>
                            <i class="fa fa-database"></i>
                            <span class="menu-title">Database</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            <li><a> Settings </a></li>
                            <li ui-sref-active="selected"><a ui-sref=".userManagement"> User Management</a></li>
                            <li><a> Transaction Logs</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="rgt" ui-view="ManagementView" ng-class="rgtwidth">
            <div class="db-home">
                <p>Please Select an option from the left panel to perform the Database administration
                </p>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>